name: CI b치sico

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v3

      - name: Simular validaci칩n de c칩digo
        run: echo "Todo correcto. Validaci칩n simulada completada."
